*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}


.info-table{
    margin: 100px auto;
}

.info-table td, .info-table th{
width: 200px;
text-align: start;
padding: 6px 12px;
font-size: 16px;


}
.info-table th{
    text-transform: uppercase;
    color: white;
}

.info-table > tbody tr{
    background-color: white;
    margin-bottom: 12px;
}

.info-table tbody{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 800px;
}

.info-table thead tr{
    display: flex;
}



